@page "{id:int?}"
@model Sfarlea_Catalina_lab2.Pages.Categories.IndexModel

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CategoryData.Categories.First().CategoryName)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cat in Model.CategoryData.Categories)
        {
            string selectedRow = cat.ID == Model.CategoryID ? "table-success" : "";
            <tr class="@selectedRow">
                <td>@cat.CategoryName</td>
                <td>
                    <a asp-page="./Index" asp-route-id="@cat.ID">Select</a> |
                    <a asp-page="./Edit" asp-route-id="@cat.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@cat.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@cat.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.CategoryData.Books != null)
{
    <h3>Books in Selected Category</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.CategoryData.Books)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author.FullName</td>
                </tr>
            }
        </tbody>
    </table>
}
